@font-face {
  font-family: "BpmfZihiSans-Bold";
  src: url("../font/BpmfZihiSans-Bold.ttf");
}
@font-face {
  font-family: "BpmfZihiSans-Regular";
  src: url("../font/BpmfZihiSans-Regular.ttf");
}

@font-face {
  font-family: "BpmfZihiOnly-R";
  src: url("../font/BpmfZihiOnly-R.ttf");
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#App {
  position: relative;
  width: 100%;
  height: 100%;
}
#header {
  display: flex;
  width: 100%;
  height: 5vh;
  min-height: 50px;
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  img {
    width: auto;
    height: 40px;
    padding: 0 10px;
  }
}
#content {
  width: 100%;
  min-height: 100vh;
  height: auto;
  font-size: 70px;
  //   font-family: "BpmfZihiOnly-R";
  //   margin-bottom: 50px;
}

#footer {
  display: flex;
  width: 100%;
  height: 5vh;
  min-height: 50px;
  background-color: black;

  text-align: right;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  a {
    color: white;
    font-size: 12px;
  }
}

.card_all {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card_sample {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  width: 350px;
  height: auto;
  padding: 10px;
  // border: 1px solid black;
  // background-color: rgb(241, 241, 153);
  border-radius: 100px;
  margin: 10px;
  .card_title {
    font-size: 60px;
    text-align: center;
  }
  .img_simple{
    height: 200px;
    width: 200px;
    padding: 10px 0;
  }
  .img_move{
    height: 200px;
    width: auto;
    padding: 10px 0;
  }
  .move_ {
    font-size: 50px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

.modal_back {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
  position: absolute;
  top: 0;
}
.move_gif {
  display: block;
  width: 400px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  position: sticky;
}
